Answer 1

In [ ]:
#How to import pandas and check the version?
import pandas as pd
print(pd.__version__)

1.1.4

Answer 2

In [ ]:
#How to create a series from a numpy array?
import pandas as pd
import numpy as np
a1=np.array([10,42,63,49,25])
s1=pd.Series(a1)
print(s1)

0    10
1    42
2    63
3    49
4    25
dtype: int64

Answer 3

In [ ]:
#How to convert the index of a series into a column of a dataframe?
import pandas as pd
import numpy as np
a1=np.array([10,42,63,49,25])
s1=pd.Series(a1)
df = s1.to_frame().reset_index()
print(df)

   index   0
0      0  10
1      1  42
2      2  63
3      3  49
4      4  25

Answer 4

In [ ]:
#Write the code to list all the datasets available in seaborn library.Load the 'mpg' dataset
import seaborn as sns
print("Datasets available in seaborn:\n",sns.get_dataset_names())
mpg=sns.load_dataset('mpg')
print("*****Dataset mpg loaded:*****\n",mpg)

Datasets available in seaborn:
 ['anagrams', 'anscombe', 'attention', 'brain_networks', 'car_crashes', 'diamonds', 'dots', 'exercise', 'flights', 'fmri', 'gammas', 'geyser', 'iris', 'mpg', 'penguins', 'planets', 'tips', 'titanic']
*****Dataset mpg loaded:*****
       mpg  cylinders  ...  origin                       name
0    18.0          8  ...     usa  chevrolet chevelle malibu
1    15.0          8  ...     usa          buick skylark 320
2    18.0          8  ...     usa         plymouth satellite
3    16.0          8  ...     usa              amc rebel sst
4    17.0          8  ...     usa                ford torino
..    ...        ...  ...     ...                        ...
393  27.0          4  ...     usa            ford mustang gl
394  44.0          4  ...  europe                  vw pickup
395  32.0          4  ...     usa              dodge rampage
396  28.0          4  ...     usa                ford ranger
397  31.0          4  ...     usa                 chevy s-10

[398 rows x 9 columns]

Answer 5

In [ ]:
#Which country origin cars are a part of this dataset?
import seaborn as sns
mpg=sns.load_dataset('mpg')
print(mpg['origin'].unique())

['usa' 'japan' 'europe']

Answer 6

In [ ]:
#Extract the part of the dataframe which contains cars belonging to "usa"
import seaborn as sns
mpg=sns.load_dataset('mpg')
print(mpg[mpg['origin']=='usa'])

      mpg  cylinders  ...  origin                       name
0    18.0          8  ...     usa  chevrolet chevelle malibu
1    15.0          8  ...     usa          buick skylark 320
2    18.0          8  ...     usa         plymouth satellite
3    16.0          8  ...     usa              amc rebel sst
4    17.0          8  ...     usa                ford torino
..    ...        ...  ...     ...                        ...
392  27.0          4  ...     usa           chevrolet camaro
393  27.0          4  ...     usa            ford mustang gl
395  32.0          4  ...     usa              dodge rampage
396  28.0          4  ...     usa                ford ranger
397  31.0          4  ...     usa                 chevy s-10

[249 rows x 9 columns]